<input placeholder="word 1" type="text" ng-model="madlibs">
<input placeholder="word 2" type="text" ng-model="madlibs">
<input placeholder="word 3" type="text" ng-model="madlibs">
<input placeholder="word 4" type="text" ng-model="madlibs">
<input placeholder="word 5" type="text" ng-model="madlibs">
<input placeholder="word 6" type="text" ng-model="madlibs">
<input placeholder="word 7" type="text" ng-model="madlibs">
<button type="button" ng-click='click(madlibs)'> Submit </button>
<!-- all ng-models must have a different name -->

{{madlibsName}}
